<h1>About</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "/lion.jpg", width: 288, alt: "A stone lion" %>
  </div>

  <div class="col-md-8">
    <p>Textual content.</p>
  </div>
</div>