<h1>Contact</h1>

<p>Phone: <%= number_to_phone "5555555555" %></p>

<p>Current Net Worth: <%= number_to_currency "5555555555" %></p>

<p>Awesomeness: <%= number_to_percentage "100" %></p>

<p> Page Views: <%= number_with_delimiter "5555555555" %></p>
