<h1>Get In Touch</h1>

<hr>

<div class="row">
  <div class="col-md-6">

    <p>Phone: <%= number_to_phone "5555555555" %></p>

    <p><a href="mailto:email@email.com?subject=Contact">email@email.com</a></p>

    <p>Awesomeness: <%= number_to_percentage "100" %></p>

    <p> Page Views: <%= number_with_delimiter "5555555555" %></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23086.228852476856!2d-111.93269005929851!3d43.67357406370566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53546c26bac0d859%3A0xbf887dcc84af9018!2sRigby%2C+ID+83442!5e0!3m2!1sen!2sus!4v1496970845960" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>